@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/* 01. Banner section style stars here */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("resources/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner-content p, h1{
    color: white;
    
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}


/* 02. 65% section style stars here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 90px;
}

.second-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    color: rgba(255, 0, 0);
    font-family: inter;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content p{
    color: rgba(255, 0, 0);
    font-family: inter;
    font-size: 21px;
    font-weight: 900;
    margin-top: 40px;
}

.second-section-content h3{
    color: rgba(7, 2, 17);
    font-family: inter;
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
}

.img-container{
    width: 802.9px;
    height: 500px;
}

.img-container img{
    width: 100%;
    height: 100%;
}

/* 03. midnight party section styles starts here */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    background-image: url("resources/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}

.leftside-content{
    width: 55%;
    height: 600px;
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.leftside-content h2{
    color: rgba(255, 255, 255);
    font-family: inter;
    font-size: 64px;
    font-weight: 900;
    margin-right: 60px;
   
}

.leftside-content p{
    color: rgba(255, 255, 255);
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
    margin-left: 91px;
    margin-top: 30px;
    opacity: 0.;
}

.rightside-content{
    width: 45%;
    height: 600px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn{
    background-color: yellow;
    padding: 8px 16px;
    margin-right: 215px;
    border-radius: 5px;
    margin-top: 100px;
    font-weight: 900;
}

/* holiday styles */
.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    margin-bottom: 40px;
}
.holiday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.color-red{
    color: red;
    font-size: 60px;
    margin-right: 5px;
}

.color-black{
    color: black;
    font-size: 60px;
}

.holiday-text-container p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
}

.solid-color-red{
    width: 1319px;
    height: 210px;
    background-color: red;
    position: absolute;
    top: 79%;
    border-radius: 5px;
}

.giftbox{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.girl-container{
    margin-left: 91px;
    margin-top: -169px;
}

.discount{
    position: absolute;
    left: 107%;
    top: 75px;
}
